[core]
    editor = nvim
    excludesFile = ~/.gitignore
    whitespace = trailing-space,space-before-tab

[branch]
    # Order branches by commiterdate
	sort = -committerdate

[status]
    short = true

[url "git@github.com:"]
    insteadOf = https://github.com
